// Colors
$default-color: #999999;
$light-color: #FAFAF9;
$dark-color: #87928B;
$primary-color: #d9ac98;
$info-color: #927060;
$success-color: #76ae66;
$warning-color: #f49e2e;
$danger-color: #f44336;
$black-color: #000000;

// Transitions
$transition-time: .3s;

// Borders
$main-border-radius: 6px;